<h1>Pets To Adopt Today!</h1>
<div class="container">
    {{#each petList}}
    <div class="card" style="width: 18rem;">
        <img src="{{imgUrl}}" class="card-img-top" alt="{{imgUrl}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a href="/pets/{{petId}}" class="btn btn-primary">Learn more!</a>
            <a href="/pets/edit/{{petId}}" class="btn btn-primary">Edit this pet</a><br>
            <form action="/pets/delete/{{petId}}" method="POST">
                <button type="submit" class="btn-danger">Delete Pet</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>

<a href="/pets/add">Add New Pet!</a>