{{#with foundPet}}
    <img src="{{imgUrl}}">
    <h1>{{name}}</h1>
    <p>{{animal}}</p>
    <p>{{description}}</p>
{{/with}}

<a href="/pets" class="btn btn-primary">See Other Pets!</a>
<a href="/pets/edit/{{petId}}" class="btn btn-warning">Edit this pet</a>